@use "./colors" as *;

$elevation-01: 0px 0px 4px rgba($dark, 20%);
$elevation-02: 0px 1px 6px rgba($dark, 20%);
$elevation-03: 0px 1px 10px rgba($dark, 20%);
$elevation-20: 0px -1px 10px rgba($dark, 20%);
